<% include header %>               
            <section class="section-about">
                <div class="heading-left">
                    <h2 class="heading-secondary heading-secondary--section">Cześć! Mam na imię Angelika</h2>
                    <h3 class="heading-tertiary heading-tertiary--section">- pasjonuje mnie tworzenie stron internetowych</h3>
                    <hr class="decoration-line-horizontal decoration-line-horizontal--about">
                    <hr class="decoration-line-vertical">
                </div>
                <div class="section-about__content">
                    <div class="section-about__left">
                        <img src="/img/frame2.jpg" alt="Picture 1" class="section-about__picture">
                        <!-- <a href="http://www.freepik.com">Designed by myriammira / Freepik</a> -->
                        <div class="author-picture">
                            <img src="/img/avatar3.png" alt="Author picture" class="author-picture__img">
                        </div>
                    </div>
                    <div class="section-about__right">
                        <div class="description">
                            <p class="description-text"> 
                                Mam na imię Angelika i od ponad 1.5 roku pasjonuję się tworzeniem stron internetowych i aplikacji. Z wykształcenia jestem socjologiem, a do tej pory pisałam teksty jako Copywriter. Uczę się sama, głównie z kursów na Udemy, kanałów na You Tube i blogów (m.in.: Na Frontendzie, Just Geek IT, Wake up and Code, NetteCode). 
                                </p>
                            <div class="decoration decoration--pen"><i class="fas fa-pen-nib"></i></div>
                            <p class="description-text">Szukam pracy, która pozwoli mi rozwijać zdobyte do tej pory umiejtności i nabrać doświadczenia :)</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="section-about__certifications">
                    <h3 class="heading-tertiary">Wybrane certyfikaty ukończonych kursów</h3>
                    <div class="certifications">
                        <figure class="certifications__item">
                            <img src="/img/UC-YUCWIXK2.jpg" alt="Certificate 1" class="certificate">
                        </figure>
                        <figure class="certifications__item">
                            <img src="/img/UC-YUCWIXK2.jpg" alt="Certificate 1" class="certificate">
                        </figure>
                        <figure class="certifications__item">
                            <img src="/img/UC-YUCWIXK2.jpg" alt="Certificate 1" class="certificate">
                        </figure>
                        <figure class="certifications__item">
                            <img src="/img/UC-YUCWIXK2.jpg" alt="Certificate 1" class="certificate">
                        </figure>
                        <figure class="certifications__item">
                            <img src="/img/UC-YUCWIXK2.jpg" alt="Certificate 1" class="certificate">
                        </figure>
                        <figure class="certifications__item">
                            <img src="/img/UC-YUCWIXK2.jpg" alt="Certificate 1" class="certificate">
                        </figure>
                    </div>
                </div> -->
            </section>
<% include footer %>   
<% include script %> 