<% include header %>   
            <section class="section-contact">
                <div class="heading-left">
                    <h2 class="heading-secondary heading-secondary--section">Napisz do mnie!</h2>
                    <h3 class="heading-tertiary">- zobacz moje projekty na GitHubie i napisz maila albo wiadomość na Facebooku</h3>
                    <hr class="decoration-line-horizontal decoration-line-horizontal--about">
                    <hr class="decoration-line-vertical">
                </div>
                <div class="section-contact__content">
                    <div class="section-contact__left">
                        <figure class="video-box">
                            <video class="video" autoplay muted loop>
                                <source src="/img/video1.mp4" type="video/mp4" class="video__content">
                                <!-- <source src="img/video.webm" type="video/webm"> Your browser is not supported! -->
                            </video>
                        </figure>
                    </div>
                    <div class="section-contact__right">
                        <div class="contact">
                            <ul class="contact__list">
                                <li class="contact__item"><a href="https://www.facebook.com/angelika.chochorowska?ref=bookmarks" class="contact__link"><i class="fab fa-facebook-square contact__icon"></i></a></li>
                                <!-- <li class="contact__item"><a href="." class="contact__link"><i class="fab fa-linkedin contact__icon"></i></a></li> -->
                                <li class="contact__item"><a href="https://github.com/angelika7" class="contact__link"><i class="fab fa-github-square contact__icon"></i></a></li>
                                <li class="contact__item contact__item--mail">
                                    <a href="mailto:angelika.chochorowska7@gmail.com" class="contact__link contact__link--mail">
                                        <i class="fab fa-google-plus-square contact__icon contact__icon--mail"></i>
                                        <span class="mail">angelika.chochorowska7@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-contact__down">
                        <p class="slogan">Razem na pewno stworzymy coś niepowtarzalnego!</p>
                    </div>
                </div>
            </section>
<% include footer %>   
<% include script %> 