<footer class="footer">
                <p class="footer-text">Stronę wykonała Angelika Chochorowska. &copy; Wszystkie prawa zastrzeżone. 2020</p>
                <div class="social-media">
                    <ul class="social-media__list">
                        <li class="social-media__item social-media__item--fb"><a href="https://www.facebook.com/angelika.chochorowska?ref=bookmarks" class="social-media__link"><i class="fab fa-facebook-square"></i></a></li>
                        <li class="social-media__item social-media__item--gm"><a href="mailto:angelika.chochorowska7@gmail.com" class="social-media__link"><i class="fab fa-google-plus-square"></i></a></li>
                        <!-- <li class="social-media__item social-media__item--li"><a href="." class="social-media__link"><i class="fab fa-linkedin"></i></a></li> -->
                        <li class="social-media__item social-media__item--gh"><a href="https://github.com/angelika7" class="social-media__link"><i class="fab fa-github-square"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>