<% include header %>         
            <header class="header">
                <div class="header__content">
                    <h2 class="heading-secondary">Angelika Chochorowska</h2>
                    <h1 class="heading-primary">Front-end Developer</h1>
                    <figure class="header__blockquote">
                        <blockquote class="blockquote-text">"By stać się kimś w swoim fachu, trzeba mieć talent, determinację do ciężkiej pracy i odrobinę szaleństwa w duszy."</blockquote>
                        <figcaption class="blockquote-author">Anna J. Szepielak</figcaption>
                    </figure>
                </div>
            </header>
<% include footer %>
<% include script %> 