<% include header %>               
            <section class="section-projects">
                <div class="heading-right">
                    <h2 class="heading-secondary heading-secondary--section">Projekty</h2>
                    <h3 class="heading-tertiary">- moje najnowsze prace</h3>
                    <hr class="decoration-line-horizontal decoration-line-horizontal--projects">
                    <hr class="decoration-line-vertical">
                </div>
                <div class="section-projects__content">
                    <div class="section-projects__up"></div>
                    <div class="section-projects__down">
                        <div class="projects">
                            <figure class="projects__item">
                                <img src="/img/screen-memo.png" alt="Project 1" class="projects__img"> 
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="." class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/memo-cats-app" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">MemoCats App - gra</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">React.js</li>
                                            <li class="projects__item-info">Redux</li>
                                            <li class="projects__item-info">CSS 3 + SVG</li>
                                            <li class="projects__item-info">JS</li>
                                            <li class="projects__item-info">Webpack 4</li>
                                            <li class="projects__item-info">Firebase (logowanie)</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-app.png" alt="Project 2" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="https://angelika7.github.io/repo-search-cafes/public/" class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/repo-search-cafes" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">Moje ulubione wrocławskie kawiarnie - aplikacja</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">HTML 5</li>
                                            <li class="projects__item-info">CSS 3</li>
                                            <li class="projects__item-info">JS (Local Storage)</li>
                                            <li class="projects__item-info">SCSS</li>
                                            <li class="projects__item-info">API Zomato</li>
                                            <li class="projects__item-info">Webpack 4</li>
                                            <li class="projects__item-info">Express.js</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-cv.png" alt="Project 3" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="." class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="." class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">Moje CV</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">HTML 5</li>
                                            <li class="projects__item-info">CSS 3</li>
                                            <li class="projects__item-info">JS</li>
                                            <li class="projects__item-info">SCSS</li>
                                            <li class="projects__item-info">Express.js</li>
                                            <li class="projects__item-info">Grunt.js</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-weather-app.png" alt="Project 4" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="https://angelika7.github.io/weather-app/public/" class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/weather-app" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">Kieszonkowa plikacja pogodowa</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">HTML 5</li>
                                            <li class="projects__item-info">CSS 3 + SVG</li>
                                            <li class="projects__item-info">JS</li>
                                            <li class="projects__item-info">API Open Weather Map</li>
                                            <li class="projects__item-info">SCSS</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-cukiernia.png" alt="Project 5" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="https://angelika7.github.io/cukiernia-repo/" class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/cukiernia-repo" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                        <div class="projects__info">
                                            <p class="project-title">Cukiernia - website</p>
                                            <ul class="projects__list-info">
                                                <li class="projects__item-info">HTML 5</li>
                                                <li class="projects__item-info">CSS 3</li>
                                                <li class="projects__item-info">JS + jQuery</li>
                                                <li class="projects__item-info">SCSS</li>
                                            </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-photography.png" alt="Project 6" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="https://angelika7.github.io/photography-website-repo/" class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/photography-website-repo" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">Photography website (PSD to HTML)</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">HTML 5</li>
                                            <li class="projects__item-info">CSS 3</li>
                                            <li class="projects__item-info">jQuery + WOW.js</li>
                                            <li class="projects__item-info">SCSS</li>
                                            <li class="projects__item-info">Bootstrap 4</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-travel.png" alt="Project 7" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="https://angelika7.github.io/travelling-website-repo/" class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/travelling-website-repo" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">Travelling website (PSD to HTML)</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">HTML 5</li>
                                            <li class="projects__item-info">CSS 3</li>
                                            <li class="projects__item-info">jQuery + WOW.js</li>
                                            <li class="projects__item-info">SCSS</li>
                                            <li class="projects__item-info">Grunt.js</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                            <figure class="projects__item">
                                <img src="/img/screen-salon.png" alt="Project 8" class="projects__img">
                                <div class="projects__details">
                                    <div class="projects__icons">
                                        <div class="projects__icon"><a href="https://angelika7.github.io/salon-repo/" class="projects__link"><i class="fas fa-globe"></i></a></div>
                                        <div class="projects__icon"><a href="https://github.com/angelika7/salon-repo" class="projects__link"><i class="fab fa-github"></i></a></div>
                                    </div>
                                    <div class="projects__info">
                                        <p class="project-title">Salon fryzjerski - website</p>
                                        <ul class="projects__list-info">
                                            <li class="projects__item-info">HTML 5</li>
                                            <li class="projects__item-info">CSS 3</li>
                                            <li class="projects__item-info">JS</li>
                                            <li class="projects__item-info">SCSS</li>
                                        </ul>  
                                    </div>  
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
<% include footer %>   
<% include script %> 