<% include header %>   
                <section class="section-technologies">
                    <div class="heading-left">
                        <h2 class="heading-secondary heading-secondary--section">Technologie i narzędzia</h2>
                        <h3 class="heading-tertiary heading-tertiary--section">- spis technologii i narzędzi, które znam i używam w projektach</h3>
                        <hr class="decoration-line-horizontal decoration-line-horizontal--about">
                        <hr class="decoration-line-vertical">
                    </div>
                    <div class="section-technologies__content">
                        <div class="img img--up"></div>
                        <div class="technologies">
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <i class="fab fa-html5"></i>
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">znaczniki semantyczne html5</li>
                                    <li class="technologies__skills-item">uniwersalne bloki wielokrotnego użytku</li>
                                </ul>
                            </div>
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">flex/grid</li>
                                    <li class="technologies__skills-item">@keyframes</li>
                                    <li class="technologies__skills-item">@media - RWD</li>
                                    <li class="technologies__skills-item">metodyka BEM i  OOCSS</li>
                                </ul>
                            </div>
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <i class="fab fa-js"></i>
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">ES6+</li>
                                    <li class="technologies__skills-item">closures / scope / klasy / promises / API</li>
                                    <li class="technologies__skills-item">MVC</li>
                                    <li class="technologies__skills-item">Local Storage</li>
                                </ul>
                            </div>
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <i class="fab fa-react"></i>
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">styled-components</li>
                                    <li class="technologies__skills-item">react-router</li>
                                    <li class="technologies__skills-item">redux</li>
                                </ul>
                            </div>
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <img src="/img/expressjs-icon.svg" alt="Icon Express.js" class="icon">
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">tworzenie serwera</li>
                                </ul>
                            </div>
                            <div class="technologies__item technologies__item--img-only">
                                <div class="technologies__icon technologies__icon--modif">
                                    <img src="/img/jquery-icon.svg" alt="Icon jQuery" class="icon">
                                </div>
                                <div class="technologies__icon technologies__icon--modif">
                                    <i class="fab fa-bootstrap"></i>
                                </div>
                            </div>
                            
                        </div>
                        <div class="img img--middle"></div>
<!--Tools-->
                        <div class="technologies">
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <i class="fab fa-sass"></i>
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">@mixins</li>
                                    <li class="technologies__skills-item">@extend</li>
                                </ul>
                            </div>
                            <div class="technologies__item technologies__item--img-only">
                                <div class="technologies__icon technologies__icon--modif">
                                    <img src="/img/gruntjs-icon.svg" alt="Icon Grunt.js" class="icon">
                                </div>
                                <div class="technologies__icon technologies__icon--modif">
                                    <i class="fab fa-node-js"></i>
                                </div>                                    
                            </div>
                            <div class="technologies__item technologies__item--img-only">
                                <div class="technologies__icon technologies__icon--modif">
                                    <img src="/img/mongodb-icon.svg" alt="Icon Mongodb" class="icon">
                                </div>
                                <div class="technologies__icon technologies__icon--modif">
                                    <i class="fab fa-npm"></i>
                                </div>
                            </div>
                            <div class="technologies__item">
                                <div class="technologies__icon">
                                    <i class="fab fa-git-alt"></i>
                                </div>
                                <ul class="technologies__skills-list">
                                    <li class="technologies__skills-item">tworzenie / klonowanie zdalnego repozytorium</li>
                                    <li class="technologies__skills-item">commity</li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </section>
<% include footer %>   
<% include script %> 